.modal-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.form-wrap {
    /* display: flex;
    flex-direction: column; */

    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    margin-bottom: 10px;
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.input-wrap {
    position: relative;
}

.form-input {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    padding-right: 12px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    cursor: pointer;

    transition: outline var(--transition-time) var(--transition-cubic);

    &:focus {
            outline: 1px solid var(--accent-color);
        }
}

.coment-box {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    transition: outline var(--transition-time) var(--transition-cubic), fill var(--transition-time) var(--transition-cubic);

    &:focus {
            outline: 1px solid var(--accent-color);
        }
    
        &::placeholder {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
}

.icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;
    transition: fill var(--transition-time) var(--transition-cubic);

    .form-input:focus + & {
            fill: var(--accent-color);
        }
}

.modal-check {
    cursor: pointer;
}

.checkbox-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.checkbox-text {
    display: flex;
    align-items: center;
    cursor: pointer;

    line-height: 1.71;
    letter-spacing: 0.03em;
}

.icon-check {
    fill: var(--white-color);
}

.checkbox-text span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;

    transition: background-color var(--transition-time) var(--transition-cubic),
        border var(--transition-time) var(--transition-cubic);

        .modal-check:checked + & {
                background-color: var(--accent-color);
                border: 1px solid var(--accent-color);
            }
}

/* .checkbox-text::before {
    content: '';
    min-width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
} */

.checkbox-link {
    margin-left: 3px;
    color: var(--accent-color);
    text-underline-offset: 2px;
}

.send-btn {
    display: block;
    margin: auto;
    padding: 10px 52px;
}