:root {
    --title-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #2F303A;
    --black-color: #000000;
    --white-color: #ffffff;
    --btn-hover-color: #188CE8;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --background-btn-portpholio: #F5F4FA;
    --border-bottom-color: #ECECEC;
    --team-background-color: #F5F4FA;
    --portfolio-card-border-color: #EEEEEE;
    --hero-bg-gradient: rgba(47, 48, 58, 0.4);
    --social-link-icon-color: #AFB1B8;
    --icon-bg-color: rgba(255, 255, 255, 0.1);
    --transition-time: 250ms;
    --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1)
}